<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List User</title>
</head>
<body>
    <h1>LIST USER</h1>
    <table border="2">
        <tr>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>ROLE</th>
            <th>ACTION</th>
        </tr>
        <% result.forEach((el) => { %>
            <tr>
                <td><%= el.username %></td>
                <td><%= el.email %></td>
                <td><%= el.role %></td>
                <td>
                    <a href="/listUser/delete"><button type="button" style="background-color: #fa0606;">Delete</button></a>
                </td>
            </tr>
        <% }) %> 
    </table>
</body>
</html>