<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Page</title>
  </head>
  <body>
    
    <h2>Register</h2>
    <form action="/register" method="post">
      <label>Nama</label>
      <br />
      <input type="text" name="username" placeholder="Masukkan nama" />
      <br /><br />
      <label>Email</label>
      <br />
      <input type="text" name="email" placeholder="Masukkan email" />
      <br /><br />
      <label>Password</label>
      <br />
      <input type="text" name="password" placeholder="Masukkan password" />
      <br /><br />
      <label>Role</label>
      <br />
      <select name="role"> 
        <option selected disabled>-- choose role --</option>
        <option value="admin">admin</option>
        <option value="user">user</option>
      </select> <br><br>

      <input type="submit" value="submit" />
    </form>
  </body>
</html>
